:root{
    --dark:#231F20;
    --dark-x:#151515;
    --light:#ffffff;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark{
    background-color:var(--dark) !important ;

}
.bg-dark-x {
    background-color:var(--dark-x);
}